@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,600&display=swap");
/*toggle switch*/
.toggle-switch {
  position: relative;
  display: block;
  width: 3em;
  height: 1.4em;
  padding: 3px;
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
  border-radius: 1em;
  -webkit-box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  transition: inherit;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaaaaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: #FFFFFF;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.switch-input:checked ~ .switch-label {
  background: #1b327e 0% 0% no-repeat padding-box;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 1.2em;
  height: 1.2em;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #FFFFFF), to(#f0f0f0));
  background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
  border-radius: 100%;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#FFFFFF));
  background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
  background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
          box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}

.switch-input:checked ~ .switch-handle {
  left: 1.9em;
  -webkit-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
          box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition
========================== */
.switch-label, .switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

/*button -main*/
button {
  width: 20vw;
  height: 5vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: initial;
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#7595AEB8), color-stop(0%, #0F1323B8), to(#3B4B57B8)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #7595AEB8 0%, #0F1323B8 0%, #3B4B57B8 100%) 0% 0% no-repeat padding-box;
  -webkit-box-shadow: inset 6px 6px 6px #00000029, 6px 6px 6px #00000029;
          box-shadow: inset 6px 6px 6px #00000029, 6px 6px 6px #00000029;
  border: 1px solid #707070;
  border-radius: 36px;
  opacity: 1;
  border-width: 0;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .04em;
  line-height: 1em;
  margin: 0;
  padding: 1em 1em;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.login-button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), color-stop(50%, #04033d));
  background-image: linear-gradient(#000000, #04033d 50%);
}

.login-button {
  width: 10em;
  height: 3em;
}

.register {
  width: 10em;
  text-decoration: none;
}

/*submit-button*/
.submit {
  border: 1px solid gray;
  border-radius: 1em;
  margin-right: 1.5em;
  margin-top: .2em;
  text-align: center;
  letter-spacing: 0.7px;
  background: #3B476D 0% 0% no-repeat padding-box;
  -webkit-box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
          box-shadow: inset 0px 3px 6px #00000029, 0px 3px 6px #00000029;
  border-radius: 1em;
  color: white;
  width: 30%;
  height: 2em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2em;
}

.logout-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  border: none;
  border-radius: none;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  width: 17em;
}
/*# sourceMappingURL=buttons.css.map */