@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,600&display=swap");


.avatar-menu {
    width: 10vmax;
    height: 10vmax;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: .2em;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

li i {
    margin: .5em;
    font-size: 1.5em;
}

li{
    text-align: left;
    margin-bottom: 1.2em;
}

.fa .fas {
    font-weight: 900;
    width: 1em;
}

.username{
    font-size: 2em;
    margin: 0;
    color: white;
    text-align: center;
}

p {
    margin-top: 0 ;
}

.user-photo{
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    text-decoration: none;
}

.navbar-nav{
    height: 100vh;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-item{
    width: 100%;
    display: flex;
    flex-direction: row;
}



.nav-link{
    display: flex;
    align-items: center;
    flex-direction: row ;
    height: 2rem;
    color: white;
    text-decoration: none;
}

.navbar {
    background: #3B476D 0% 0% no-repeat padding-box;
    transition: width 800ms ease;
    width: 5em;
    height: 100%;
  }

.link-text{
    display: none;
    margin-left: 1rem;
}

.nav-link i {
    min-width: 2rem;
    margin: 0 1.5rem;
}

.logo{
    display: block;
}


.logo > img{
    display: none;
    width: 17em;
}

.logo > i {
    color: white;
    transform: rotate(0);
}

.navbar:hover{
    width: 17rem;
}

.navbar:hover .link-text {
    display: block;
}

.navbar:hover .logo >img{
    display: block;
}

.nav-item > .user-photo > img{
    display: none;
}

.nav-item > .user-photo > p{
    display: none;
}

.nav-item > .user-photo > i{
    color: white;
    display: block;
    justify-self: center;
}

.navbar:hover .nav-item {
    display: block;
}

.navbar:hover .nav-item > .user-photo > i{
    display: none;
}

.navbar:hover .nav-item > .user-photo > img {
    display: block;
}

.navbar:hover .nav-item > .user-photo > p {
    display: block;
}

.navbar:hover .nav-item .logo > i {
    transform: rotate(-180deg);
}

.navbar:hover .nav-item .logo > img {
    display: flex;
    align-items: center;
    height: 7rem;
}

.logout-button >span {
    display: none;
}

.navbar:hover .nav-item .logout-button >span {
    display: block;
}

.plc-holder{
    height: 10em;
}