@media only screen and (max-width: 414px) {
  .avatar-menu {
    display: none;
  }
  .plc-holder {
    height: 12em;
  }
  .user-photo {
    width: 0;
    height: 0;
  }
  .nav-item > .user-photo {
    display: none;
  }
  .navbar:hover {
    pointer-events: none;
  }
  .navbar:hover .link-text {
    display: none;
  }
  .navbar .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .navbar .navbar-nav .nav-item .nav-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-item:last-child {
    margin: 0;
    height: 2em;
    display: block;
  }
  .logout-form {
    display: block;
  }
  .logout-button {
    width: 80px;
    height: 2em;
  }
  .navbar:hover .nav-item .logout-button > span {
    display: none;
  }
  .logo {
    display: none;
  }
  .nav-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo > img {
    margin-top: .4em;
    width: 4em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=responsible-menu.css.map */