@media only screen and (max-width: 414px) {

    .circle{
        display: none;
    }

    .base-container{
        height: 100vh;
        width: 100vw;
    }

    .main-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;        
        height: 100vh;
    }
    
    .post-form textarea{
        width: 16em;
    }
   
    .base-container{
        justify-content: center;
        height: 100vh;
    }

    .post-form p {
        font-size: 1.4em;
    }

    .login-logo {
        margin-top: 27em;
      }

      .register {
          margin: 2em;
      }

      .upload-photo img{
          width: 15em;
          height: 15em;
      }

      .login-form{
        margin: 0;
          width: 90vw;
          height: 40vh;
          justify-content: center;
      }
      .features-list{
          display: none;
      }

      .description-section{
          display: none;
      }

      .registration-header{
        margin: 0;
      }

      .registration > img{
        width: 10em;
        margin:  1em 0 0 0;
      }

      .registration{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
      }

      .registration-container{
          margin: 2em;
      }

      .registration-form{
          width: 80vw;
          height: 50vh;
          margin: 0;
      }

      .gender{
          display: none;
      }


      .header-name{
          font-size: .8em;
      }

      .setting-list{
        margin-bottom: 0em;
        align-items: flex-start;
      }


      .main{
          width: 100vw;
          height: 100vh;

      }

      .setting-list{
          padding: 0;
      }
      
      .row-style{
          width: 50vw;
          height: 1em;
          font-size: .7em;
      }

      .weight-switch label {
          display: none;
      }

      .log-out{
          font-size: .8em;
      }

    .training-title{
        justify-content: center;
        align-items: center;
        font-size: 1em;
    }

    .training-title  hr {
        margin-bottom: .2em;
    }

    hr{
        width: 75vw;
        margin-bottom: .4em;
    }

    .trainig-list{
        align-items: center;
        justify-content: center;
        margin: 0;
    }

    .training-list li {
        margin: .4em;
    }


    .training-list li label {
        font-size: .7em;
        margin: .2em;
        padding: .2em;
    }

    .calendar{
        display: none;

    }

    .vl{
        display: none;
    }

    .exercise-list{
        margin-top: 1em;
        padding: 0;
        width: 70vw;
    }

    .exercise-list li .exercise-info {
        width: 100vw;
        font-size: .8em;
    }

    .exercise-details input{
        width: 2.8vw;
        height: 4vh;
        margin: 1em;
    }

    .add{
        height: 4vh;
    }


    .drop-down-list{
        margin: 1em;
    }

    .main-container{
        display: flex;
        flex-direction: column;

    }

    .playlist-container{
        align-self: flex-end;
    }

    .management-container{
        width: 18em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .management-container > i {
        display: block;
        margin-left: 15em;
        margin-top: 1em;
    }

    .login-container{
        margin: 0;
    }

    .login-button {
        margin-top: 1em;
        width: 14em;
        height: 3em;
        font-size: .8em;
        justify-content: center;
        align-items: center;
    }

    .user-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
    }

    .avatar-name{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .username{
        color: black;
        margin: 0;
    }

    .user-motivation{
        margin: 0;
        width: 14em;
        height: 10em;
    }

    .user-motivation blockquote{
        padding: 0.5em;
        margin: 0;
        width: 100%;
    }

    .remove-acc{
        margin: .3em;
    }

    .user-buttons{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0em;
        justify-content: center;
    }

    .user-buttons button {
        margin: .6em 0;
    }

    .acc-button{
        width: 35vw;
    }

    .submit{
      width: 13em;
      height: 2em;
    }

    .notifications-container{
        height: 33vh;
        width: 70vw;
        margin: 0 0 0 .8em;
        bottom: 0;
        border: 1px solid rgb(126, 105, 250);
    }

    .notification-list li {
        padding: 0;
        width: 60vw;
        height: 7vh;
    }     

    .header-name{
        font-size: .6em;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0 0 .1em 0;
    }

    .header-name b {
        padding: 0;
        text-align: center;
    }

    .logo-header-img{
        display: flex;
        margin: 0 1.2em 0 15em;
        width: 4em;
        height: 2em;
    }



}