@media only screen and (max-width: 414px) {

    .avatar-menu{
        display: none;
    }

    .plc-holder{
        height: 12em;
    }
    .user-photo{
        width: 0;
        height: 0;
    }

    
    .nav-item > .user-photo{
        display: none;
    }

    .navbar:hover{
        pointer-events: none;
    }



    .navbar:hover .link-text {
        display: none;
    }

    .navbar .navbar-nav{
        display: flex;
        justify-content: flex-start;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        display: flex;
    }

    .nav-item:last-child{
        margin: 0;
        height: 2em;
        display: block;
    }

    .logout-form{
        display: block;
    }
    .logout-button{
        width: 80px;
        height: 2em;
    }

    .navbar:hover .nav-item .logout-button > span {
        display: none;
    }

    .logo  {
        display: none;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo >img {
        margin-top: .4em;
        width: 4em;
        display: flex;
    }



  }