@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,600&display=swap");

body {
    margin: 0;
    width: 98vw;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: black;
    background: white;
    margin: 0;
    padding: 0;
}

.main-body{
    width: 97vw;
    height: 100%;
    margin: 0;
    padding: 0;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: transparent linear-gradient(180deg, rgba(5, 26, 93, 0.9) 0%, rgba(37, 112, 198, 0.75) 0%, rgba(49, 75, 204, 0.79) 0%, rgba(13, 17, 41, 0.76) 1%, rgba(6, 18, 65, 0.87) 40%, rgba(113, 118, 123, 1) 100%) 0% 0% no-repeat padding-box;
}

.login-logo {
    align-self: flex-start;
    margin: 2.4em;
}

.login-container {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 20vw;
    width: 70%;
}

.login-container input{
    width: 70%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(2, 2, 2, 100);
    margin: 1em;
    font-size: 2vh;
    height: 1.5em;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 38vw;
    height: 30vh;
    justify-content: center;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 23px;
    opacity: 1;
    position: top;
    margin: 0;
}

.main-page-photo {
    position: absolute;
    display: inline;
    margin: 0 auto;
    overflow: hidden;
}

.login {
    margin: 1.4em;
}

.circle {
    display: block;
    border-radius: 50%;
    width: 600px;
    height: 490px;
    position: relative;
    overflow: hidden;
    background: transparent linear-gradient(180deg, #7595AEB8 0%, #174755B8 79%, #00080FB8 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    transform: translateX(37%);
    z-index: -1;
    margin: 0;
}


.features-list{
    list-style-type: none;
    padding: 0;
    color: rgb(5, 5, 5);
    width: 90%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.placeholder{
    margin-top: 30vh;
}

.features-list li {
    background: #FFFFFF;
    text-align: center;
    padding: 1em;
    width: 70%;
    margin: 0 auto 1em auto;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    height: 20vh;
    word-break: keep-all;
}
.features-section{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.features-section li img {
    width: 5em;
    height: 5em;
    border: 5px solid #006BD6;
    border-radius: 50%;
    margin-top: -4.5em;
}

.description-section {
    display: flex;
    width: 90vw;
    height: 40vh;
    background: #100E0E80 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    color: #6776FFBD;
    padding: .2em 1.5em ;
    padding-bottom: .2em;

    margin: auto;
    
    margin-bottom: 2em;
    flex-direction: column;
}


.description-section b {
    font-size: 2em;
    padding: .2em 1em .2em 1em;
}

.page-description{
    margin: 0 1.4em;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
    
}

.description-section span {
    color: white;
}

.description-section blockquote {
    color: whitesmoke;
    font-size: 1em;
    margin-top: 0.1em;
    word-break: keep-all;

}

.register{
    margin-top: 1em;
    margin-right: 2em;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
}



/*registration*/

.header-name{
    letter-spacing: 0.7px;
    font-size: 2em;
}

.base-container{
    display: flex;
    align-items:center;
    justify-content: flex-start;
    height: 100vh;
}


/*registration style*/

.registration {
    width: 100vw;
    height: 76.8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.registration > img {
    margin-left: 5em;
}

.registration-form {
    width: 35vw;
    height: 60vh;
    margin-left: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFFE0 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 2em;
}

.registration > img {
    margin: 0;
}

.registration-form input{
    width: 90%;
}

.registration-header {
    color: #FFFFFF; 
    margin: 0;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.registration-header h1 {
    border-bottom: solid .01em;
    margin-bottom: 0;
}

.registration-form > button{
    width: 70%;
    margin-top: 1em;
}

.registration-back-button > i {
    color: black;
}


.registration-back-button{
   background: white;
    width: 3em;
    height: 3em;
    padding: 0;
    margin-top: 1em;
    border-radius:  50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration-back-button > a {
    text-decoration: none;
}
/*settings style*/
main{
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.settings-list{
    //color: gray;
    letter-spacing: 0.72px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
}


.settings-list > li {
       border: 1px solid gray;
    border-radius: 1em;
    margin: .1em 1em;
    letter-spacing: 0.7px;
    padding: .8em;
    width: 90%;
    height: 1.4vh;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.row-style{
    border: 1px solid gray;
    border-radius: 1em;
    margin: .1em 1em;
    letter-spacing: 0.7px;
    padding: .8em;
    width: 90%;
    height: 1.2vh;
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.setting-name{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row-style i {
    padding-right: 1em;
    align-self: center;
    display: flex;
}

.weight-switch label{
    margin-left: 1.6em;
}

li{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.language{
    border: 2px solid #5f79cf;
    border-radius: 1em;
    font-size: .6em;
    padding: 0;
    width: 2em;
    height: 2em;    display: flex;
    justify-content: center;
    align-items: center;
    color: #5f79cf;
    background: inherit;
    pointer-events: none;
    box-shadow: none;
}

b{
    padding: 1em .2em;
    font-size: 1.2em;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hamburger{
    display: none;
}

.log-out{
    margin-right: 1em;
    font-size: 1.2em;
}

hr{
    //color: black;
    width: 98%;
    margin: 0;
    padding: 0;
}

.row-style .row-end-buttons{
    align-items: flex-end;
} 

/*diary style*/

.diary-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 2em;
}


.vl {
    border-left: 1px solid;
    height: 90vh;
  }

.calendar-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.calendar-form button {
    width: 12vw;
    margin-left: 2em;
}

.calendar-form input {
    width: 20em;
    height: 2em;
}

.exercise-list{
    width: 50%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    flex-wrap: wrap;
    padding: 1em;
}

.diary-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.exercise-list li .exercise-info {
    display: flex;
    flex-direction: row;
    padding: 0;
    border: 1px solid gray;
    border-radius: 1em;
    align-items: center;
    justify-content: space-between;
    margin: .6em .2em;
    font-size: 1.1em;
    width: 30vw;
}

.exercise-list li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.exercise-info li label{
    align-self: center;
}

input[type="checkbox"]{
    transform: scale(1.4);
    margin: 1em;
}

.exercise-info  input[type="checkbox"]{
    margin: 1em;
}

.exercise-details{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.exercise-details input{
    width: 2vw;
    height: 4vh;
    margin: 1em;
}


.add{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-decoration: none; 
    //color: gray;
}


.registration-form input {
    width: 70%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(2, 2, 2, 100);
    margin: 1em;
    font-size: 2vh;
    height: 1.5em;
}

/*trainnig schedule style*/
.training-title{
    margin: 0 3em;
    margin: 1em;
    font-size: 1.2em;
    text-align: center;
}

.training-title  hr {
    margin-bottom: 1em;
}


.training-list{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.add-exercise{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.training-list li {
    border: 1px solid gray;
    border-radius: 1em;
    align-items: center;
    justify-content: space-between;
    margin: 1em;
    padding: 0 1em ;
    font-size: .9em;
}

.training-list li label {
    font-size: 1.5em;
}

/*account*/

.main-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 82vw;
    height: 100%;
    padding: 0;
    margin: 0;
}

.management-container{
    grid-area:  1/3/1/1;
}

.action{
    margin: 1em;
    display: flex;
    flex-direction: row;
}

.user-photo{
    height: 30vh;
}

.avatar{
    width: 20vmax;
    height: 20vmax;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
}

.user-info{
    display: flex;
    flex-direction: row;
    margin: 1em;
    margin-bottom: 3em;
}

.user-buttons button{
    margin: 1.4em;
}

.user-motivation {
    display: flex;
    width: 20vw;
    height: 30vh;
    border: .1em solid black;    
    border-radius: 20px;
    font-size: 1em;
    margin: 2em 0 0 3em;
}

.user-motivation blockquote{
    word-break: keep-all;
}

.notifications-container{
    grid-area:  1/4/1/3;
    background: #3B476D 0% 0% no-repeat padding-box;
    height: 100%;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

.notifications{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 1em;
    justify-content: space-evenly;
}

.notifications i {
    margin-right: .6em;
}

.notifications ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notification-list{
    padding: 0;
    margin: 0;
}

.notification-list li {
    border: 1px solid white;
    background-color: white;
    border-radius: 1em;
    margin: 1em 1em;
    letter-spacing: 0.7px;
    //color: black;
    padding: 1.4em;
    border: 0;
    width: 30vw;
    height: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notification{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .2em;
}

.notification-title{
    font-weight: bold;
    margin: 0;
}

.notification-text{
    margin-top: .6em;
}

.playlist-container{
    grid-area: 2/1/2/4;
    margin: 0;
    padding: 0;
    border: 0;
    background: #11172b 0% 0% no-repeat padding-box;
    height: 25.6vh;
}

.playlist-container p {
    color: white;
    margin: .8em;
    font-size: 1.2em;
    margin-bottom: .5em;
}

.playlist-container .playlist-list{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


.playlist-list li{
    margin: 0 2em;
}


/*stats*/

.scroll-list{
    display: flex;
    flex-direction: row;
    margin: 1em 3em; 
    justify-content: center;
    align-items: center;
}

.drop-down-list{
    width: 12em;
    font-size: 1em;
}

/*upload-image*/

.upload-photo{
    display: flex;
    margin: 2em 0 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2em;
}




.upload-photo img {
    width: 400px;
    height: 400px;
}
/*contact*/

.post-form {
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-form p {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 1em;
}

.post-form textarea{
    width: 60%;
    height: 40vh;
    margin-bottom: 1em;
}

.post-form textarea {
    width: 30vw;
    height: 30vh;
}

.motivation-div{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.set-motivation-button{
    margin: 1em;
}

/*dark mode*/
.dark-mode {
    background-color:rgba(0, 0, 0, 0.76);
    color: white;
}

.light-mode {
    background-color:white;
    color: black;
}

    a {
        color: inherit;
    }

    /*my-pupils*/

    .pupils-list{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    .pupil-search{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .pupil-tmpl-style{
        width: 40vw;
        height: 5vh;
        border: .2em solid black;
        border-radius: 1.4em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .4em;
        align-self: center;
    }

    .add-input{
        height: 2vh;
        width: 50vw;
        margin: 3em 0 3em 0;
    }

    .add-training-input {
        width: 50vw;
        height: 2em;
        margin: 1.4em;
    }

    .management-container > i {
        display: none;
    }

    .exercise-management{
        display: flex;
        flex-direction: column;
    }

    .menu-icon{
        display: none;
    }

    .new-plan{
        width: 40vw;
        height: 8vh;
        border: .2em solid black;
        border-radius: 1.4em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .4em;
        margin: .2em;
    }

    .add-exercise-input{
        margin: .2em;
        width: 35vw;
    }

    .exercise-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .exercise-description p {
        margin-top: 2em;
    }


    /**/

    .no-valid {
        border: 3px solid red;
        border-radius: 1em;
        box-shadow: 0  0 0.2em red;
        outline: none;
    }


.search-bar {
    width: 70%;
    align-self: center;
    margin: 1em 0;
}

.search-bar > input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 23px;
    width: 100%;
    text-align: center;
    letter-spacing: 0.72px;
    color: #A8A8A8;
    margin: 0;
    box-sizing: border-box;
    height: 2.4em;
}


body::-webkit-scrollbar{
    width: 0.25rem;
}

body::-webkit-scrollbar-track{
    background: black;
}

body::-webkit-scrollbar-thumb{
    background: cadetblue;
}

main{
    margin-left: 0em;
}


.avatar-name {
    display: flex;
    flex-direction: column;
}

.logo-header-img{
    display: none;
}